@import "../../../_variables";
@import "../../shared/styles/mixins/_index";
@import "../../../variables";
@import "../../shared/styles/mixins/_core";
@import "../../shared/styles/mixins/sections";
@import "../../shared/styles/mixins/hero";
@import "../../../styles.scss";

.hero-section {
  @include section-base;
  @include displayFlex(column, center, center, 0);
  height: calc(100vh - 109px);
  padding-bottom: 0;

  &::before {
    @include bg-shadow(
      160px, 
      left, 
      0, 
      570px, 
      608px, 
      "/portfolio/assets/images/background/purple-shadow.png"
    );
      @media (max-width: $breakpoint-xl) {
        left: -160px; 
      }

      @media (max-width: $breakpoint-sm) {
      top: 200px;
      right: -200px;
    }
  }

  &::after {
    @include bg-shadow(
      160px, 
      right, 
      0, 
      680px, 
      570px, 
      "/portfolio/assets/images/background/blue-shadow.png",
      scaleY(-1)
    );
     @media (max-width: $breakpoint-xl) {
        right: -240px; 
      }
    @media (max-width: $breakpoint-sm) {
      top: 200px;
      right: -200px;
    }
  }
}

.hero-content {
  @include section-container-hero;
  @include displayFlex(row, center, center, 0);
  min-height: 100vh;
  z-index: 3;
}

.bottom-navigation {
  @include hero-bottom-navigation;
}

.hero {
  flex: 1;
  @include displayFlex(row, center, center, 0);
  width: 718px;
  height: 172px;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    height: auto;
  }

  .hero-text {
    @include displayFlex(row, flex-start, flex-start, 40px);

    @media (max-width: $breakpoint-md) {
      gap: 30px;
    }

    @media (max-width: $breakpoint-sm) {
      gap: 4px;
    }

    .greeting {
      @include color($text-color);
      font-size: clamp(23px, 8vw, $greeting-font-size);
      font-weight: $greeting-font-weight;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
    }

    .name-title-wrapper {
      @include displayFlex(column, flex-start, center, clamp(5px, 1.5vw, 10px));
      width: max-content;
      .name {
        @include headline(
          $text-color,
          clamp(28px, 8vw, 64px),
          $font-weight-hero-name,
          2px
        );
        text-align: left;
        margin: 0;
        line-height: $line-height;
      }

      .title {
        @include hero-title;
        width: auto !important;
        border-right: none;
        
        .cursor {
          border-right: 3px solid;
          border-image: linear-gradient(to bottom, $primary-color, $button-color, $secondary-color) 1;
          animation: cursor-gradient-animation 4s linear infinite;
        }
      }

      @include hero-animations;

      .cta-button {
        @include primaryButton();
        width: 200px;
        font-size: 23px;
        animation: shake 3s ease-in-out infinite;
      }
    }
  }
}

.social-links {
  @include hero-social-links;

  .email-text {
    @include color($text-color);
    font-size: 23px;
    margin-left: 15px;

    @media (max-width: $breakpoint-md-sm) {
      display: none;
    }
  }
}

.scroll-indicator-container {
  @media (max-width: $breakpoint-sm) {
    display: none;
  }

  .scroll-indicator {
    @include transition(transform, 0.3s, ease);

    &:hover {
      transform: translateY(5px);
    }

    img {
      width: 28px;
      height: 160px;
      object-fit: contain;
    }
  }
}