@import "../../../variables";
@import "../../../../mixin.scss";
@import "../../../styles.scss";

#portfolio {
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;
  position: relative;

  .portfolio-container {
    margin: 0 100px;
    max-width: 1400px;
    position: relative;

    @media (max-width: $breakpoint-lg) {
      margin: 0 60px;
    }

    @media (max-width: $breakpoint-md) {
      margin: 0 40px;
    }

    @media (max-width: $breakpoint-sm) {
      margin: 0 24px;
      padding-bottom: 100px;
    }
  }

  .portfolio-content {
    @include displayFlex(column, center, center, 0);
    width: fit-content;
  }

  .portfolio-header {
    @include displayFlex(column, center, flex-start, 40px);
    margin-bottom: 32px;
    text-align: center;

    .portfolio-title-section {
      @include displayFlex(row, flex-start, center, 0);
      width: 100%;

      .portfolio-title {
        font-size: $tilte-font-size;
        font-weight: $tilte-font-weight;
        color: $text-color;
        transform: translateX(-88px);
      }

      .separator {
        width: 100px;
        height: 4px;
        background-color: $button-color;
        transform: translateX(-120px);
      }
    }

    .portfolio-description {
      font-size: 20px;
      font-weight: $font-weight;
      transform: translateX(16px);
    }
  }

  .portfolio-content {
    .projects-grid {
      @include displayFlex(column, flex-start, stretch, 0);
    }
  }

  @media (max-width: $breakpoint-lg) {
    .portfolio-header {
      .portfolio-title-section {
        flex-direction: column;
        gap: 20px;

        .portfolio-title {
          font-size: 48px;
        }

        .separator {
          width: 200px;
        }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .portfolio-header {
      margin-bottom: 60px;

      .portfolio-title-section .portfolio-title {
        font-size: 40px;
      }

      .portfolio-description {
        font-size: 18px;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .portfolio-header .portfolio-title-section .portfolio-title {
      font-size: 32px;
    }
  }
}
