@import "../../../../mixin.scss";
@import "../../../variables";
@import "./../../../styles.scss"; 

.recommendations-section {
  @include displayFlex(column, center, center);
  width: 100%;
  position: relative;
  background-color: $background-color;
      z-index: 1;
}

.image-content {
        flex-shrink: 0;
        @include displayFlex(row, center, center);

        .profile-container {
          @include displayFlex(row, center, center);
          position: relative;

          .profile-circle {
            width: 400px;
            height: 400px;
            @include displayFlex(row, center, center);
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: -10px;
              right: -10px;
              bottom: -10px;
              left: -10px;
              border: 2px solid $primary-color;
              border-radius: 50%;
            }

            .profile-image {
              width: 90%;
              height: 90%;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    