@import "../../shared/styles/mixins/_index";
@import "../../../variables";

.recommendations-section {
  @include section-base;
  @include displayFlex(column, center, center);
  background-color: $background-color;
  z-index: 1;

  @include section-background(
    "/portfolio/assets/images/background/green-shadow.png",
    0px,
    left,
    680px,
    470px,
    1
  );

  .recommendations-container {
    @include section-container;
  }

  @media (max-width: $breakpoint-lg) {
    &::before {
      height: 470px;
    }
    @media (max-width: $breakpoint-sm) {
      &::before {
        left: -160px;
      }
    }
  }
}

.image-content {
  flex-shrink: 0;
  @include displayFlex(row, center, center);

  .profile-container {
    @include displayFlex(row, center, center);
    position: relative;

    .profile-circle {
      width: 400px;
      height: 400px;
      @include displayFlex(row, center, center);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        border: 2px solid $primary-color;
        border-radius: 50%;
      }

      .profile-image {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
