<section id="aboutMe" class="about-me">
  <div class="about-container">
    <div class="about-content">
      <div class="text-content">
        <h2>About me</h2>
        <p class="intro-text">
          Write some information about yourself that is IT related. Why are you
          passionate about coding? What is your source of inspiration for
          improving your programming skills?
        </p>

        <div class="info-points">
          <div class="info-item" *ngFor="let icon of icons">
            <div class="icon-wrapper">
              <img
                [src]="getIconSrc(icon.name)"
                [alt]="icon.name"
                (mouseenter)="hoveredIcon = icon.name"
                (mouseleave)="hoveredIcon = null"
              />
            </div>
            <div class="text-wrapper">
              <p>{{ icon.text }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="image-content">
        <div class="profile-container">
          <div class="profile-circle">
            <img
              src="assets/images/profile/profile-image.jpg"
              alt="Profile Picture"
              class="profile-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>