<section id="aboutMe" class="about-me">
  <div class="about-container">
    <div class="about-content">
      <div class="text-content">
        <app-slide-animation direction="left" [delay]="200" [triggerOnScroll]="true">
          <h2>{{ 'sections.about.title' | translate }}</h2>
        </app-slide-animation>
        
        <app-slide-animation direction="left" [delay]="400" [triggerOnScroll]="true">
          <p class="intro-text">
            {{ 'sections.about.description' | translate }}
          </p>
        </app-slide-animation>

        <div class="info-points">
          <app-slide-animation 
            direction="up" 
            [delay]="600 + (i * 200)" 
            [triggerOnScroll]="true"
            *ngFor="let icon of icons; let i = index">
            <div class="info-item">
              <div class="icon-wrapper">
                <img
                  [src]="getIconSrc(icon.name)"
                  [alt]="icon.name"
                />
              </div>
              <div class="text-wrapper">
                <p>{{ icon.text | translate }}</p>
              </div>
            </div>
          </app-slide-animation>
        </div>
      </div>

      <app-slide-animation direction="right" [delay]="800" [triggerOnScroll]="true">
        <figure class="about-me-img">
          <img
            src="assets/img/portrait.jpg"
            alt="Stefan Helldobler"
            class="portrait-image"
          />
        </figure>
      </app-slide-animation>
    </div>
  </div>
</section>