@import "../../styles/mixins/_index";
@import "../../../../variables.scss";

.footer {
  padding: 60px 0;
  border-top: 4px solid rgba($primary-color, 1);

  .footer-content {
    @include displayFlex(row, space-between, center);
    max-width: $breakpoint-xxl;
    margin: 0 100px;

    @media (max-width: $breakpoint-md) {
      @include displayFlex(column, center, center, 30px);
      padding: 0 40px;
    }

    @media (max-width: $breakpoint-sm) {
      padding: 0 24px;
      gap: 25px;
    }
  }

  .footer-left {
    @include displayFlex(column, flex-start, flex-start, 8px);

    @media (max-width: $breakpoint-md) {
      @include displayFlex(column, center, center, 12px);
      order: 0;
    }

    .footer-name {
      @include headline($primary-color, 32px, 700, 2px);
      margin: 0;

      @media (max-width: $breakpoint-md) {
        text-align: center;
      }
    }
  }

  .footer-center {
    @include displayFlex(row, center, center);

    .footer-copyright {
      color: $text-color;
      font-size: 23px;
      font-weight: 400;
      margin: 0;
      text-align: center;

      @media (max-width: $breakpoint-md) {
        order: 2;
      }

      @media (max-width: $breakpoint-sm) {
        width: 100vw;
      }
    }
  }

  .footer-right {
    @include displayFlex(row, center, center);

    @media (max-width: $breakpoint-md) {
      @include displayFlex(row, center, center);
      order: 3;
    }

    .social-navigation {
      .social-links {
        @include displayFlex(row, center, center, 42px);
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          @include displayFlex(row, center, center);
        }

        .social-link {
          @include displayFlex(row, center, center);
          width: 40px;
          height: 40px;
          @include transition(all, $transition-speed, $transition-ease);

          img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            @include transition(all, $transition-speed, $transition-ease);
          }

          &:hover {
            transform: translateY(-2px);

            img {
              filter: brightness(1.2);
            }
          }
        }
      }
    }
  }

  .footer-legal {
    @include displayFlex(row, center, center);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    margin-top: 25px;

    @media (min-width: $breakpoint-md) {
      display: none;
    }

    @media (max-width: $breakpoint-md) {
      padding: 0 40px;
      order: 4;
    }

    @media (max-width: $breakpoint-sm) {
      padding: 0 24px;
    }

    .footer-links {
      @include displayFlex(row, center, center, 20px);

      @media (max-width: $breakpoint-sm) {
        @include displayFlex(column, center, center, 8px);
      }
    }
  }

  .footer-links .footer-subtitle-link {
    text-decoration: none !important;
    @include transition(all, $transition-speed, $transition-ease);

    .footer-subtitle {
      color: $text-color !important;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      text-decoration: none;
      @include transition(color, $transition-speed, $transition-ease);
    }

    &:hover .footer-subtitle {
      color: $primary-color !important;
    }
  }
}

.desktop-only {
  @media (max-width: $breakpoint-md) {
    display: none !important;
  }

  .footer-links {
    @include displayFlex(row, flex-start, center, 20px);

    .footer-subtitle-link {
      text-decoration: none !important;
      @include transition(all, $transition-speed, $transition-ease);

      .footer-subtitle {
        color: $text-color !important;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        text-decoration: none;
        @include transition(color, $transition-speed, $transition-ease);
      }

      &:hover .footer-subtitle {
        color: $primary-color !important;
      }
    }
  }
}
