// Colors
$primary-color: #70E61C;
$secondary-color: #1CDAE6;
$background-color: #141D2F;
$text-color: #FFFFFF;
$text-color-hovered: #70E61C;
$button-color: #9747FF;
$button-color-hovered: #70E61C;
$required-color: #E61C40;
$disabled-color: #B6B6B6;

$line-height: 120%;
$letter-spacing: 0%;


//header
$font-size: 23px;
$font-weight: 400;


//hero section
$font-size-hero-name: 90px;
$font-weight-hero-name: 700;

$greeting-font-size: 64px;
$greeting-font-weight: 400;

$tilte-font-size: 58px;
$tilte-font-weight: 400;


// Spacing
$spacing-md: 0;


// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 950px;
$breakpoint-lg: 1050px;
$breakpoint-xl: 1240px;
$breakpoint-xxl: 1920px;

// Border radius
$border-radius-md: 10px;


// Transitions
$transition-speed: 0.25s;
$transition-ease: ease-in-out;
