$primary-color: #70e61c;
$secondary-color: #1cdae6;
$background-color: #141d2f;
$text-color: #ffffff;
$text-color-hovered: #70e61c;
$button-color: #9747ff;
$button-color-hovered: #70e61c;
$required-color: #e61c40;
$disabled-color: #b6b6b6;

$line-height: 120%;
$letter-spacing: 0%;

$font-size: 16px;
$font-weight: 400;

$font-size-hero-name: 90px;
$font-weight-hero-name: 700;

$greeting-font-size: 64px;
$greeting-font-weight: 400;

$tilte-font-size: 58px;
$tilte-font-weight: 400;

$spacing-md: 0;

$breakpoint-sm: 600px;
$breakpoint-md-sm: 800px;
$breakpoint-md: 950px;
$breakpoint-lg: 1050px;
$breakpoint-xl: 1240px;
$breakpoint-xxl: 1920px;

$border-radius-md: 10px;

$transition-speed: 0.25s;
$transition-ease: ease-in-out;

$font-family: "Poppins";

$tech-stack-text-width: 560px;
$tech-stack-text-height: 492px;
$tech-stack-content-gap: 40px;
$tech-stack-learning-gap: 20px;

$tech-stack-skills-grid-width: 664px;
$tech-stack-skills-grid-height: 662px;
$tech-stack-skills-gap: 80px;

$tech-stack-title-width: 241px;
$tech-stack-title-height: 108px;
$tech-stack-description-width: 471px;
$tech-stack-description-height: 114px;
$tech-stack-learning-width: 410px;
$tech-stack-learning-height: 92px;
