@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: $breakpoint-xxl;
    background-color: $background-color;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 109px;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
    
}

